#Load Package

In [2]:
import pandas as pd #melakukan manipulasi data
import numpy as np #array
import seaborn as sns #membuat plot
import matplotlib.pyplot as plt #membuat plot

import warnings #mengabaikan text peringatan
warnings.filterwarnings("ignore")

#Load Dataset

In [38]:
asuransi_mobil = pd.read_csv('https://raw.githubusercontent.com/cholitoary/Pelatihan-Software-Himatika-2023/main/asuransi_mobil.csv')
asuransi_mobil.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

#Missing Values Checking

In [39]:
asuransi_mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10000 non-null  int64
 1   IDENTITAS              10000 non-null  int64
 2   UMUR                   10000 non-null  object
 3   JENIS_KELAMIN          10000 non-null  object
 4   PENGALAMAN_MENGEMUDI   10000 non-null  object
 5   PENDIDIKAN             10000 non-null  object
 6   PENGHASILAN            10000 non-null  object
 7   SKOR_KREDIT            9018 non-null   float64
 8   PEMILIK_KENDARAAN      10000 non-null  object
 9   TAHUN_PRODUKSI         10000 non-null  object
 10  STATUS                 10000 non-null  object
 11  ANAK                   10000 non-null  object
 12  KODE_POS               10000 non-null  int64
 13  KM_PER_TAHUN           9043 non-null   float64
 14  JENIS_KENDARAAN        10000 non-null  object
 15  TILANG_NGEBUT          10000 non-null  int64
 16  TILANG_MABUK           10000 non-null  int64
 17  KECELAKAAN_SEBELUMNYA  10000 non-null  int64
 18  KLAIM                  10000 non-null  object
dtypes: float64(2), int64(6), object(11)
memory usage: 1.4+ MB

#Missing Values Handling

In [40]:
asuransi_mobil = asuransi_mobil.fillna(asuransi_mobil.mean())

In [41]:
asuransi_mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10000 non-null  int64
 1   IDENTITAS              10000 non-null  int64
 2   UMUR                   10000 non-null  object
 3   JENIS_KELAMIN          10000 non-null  object
 4   PENGALAMAN_MENGEMUDI   10000 non-null  object
 5   PENDIDIKAN             10000 non-null  object
 6   PENGHASILAN            10000 non-null  object
 7   SKOR_KREDIT            10000 non-null  float64
 8   PEMILIK_KENDARAAN      10000 non-null  object
 9   TAHUN_PRODUKSI         10000 non-null  object
 10  STATUS                 10000 non-null  object
 11  ANAK                   10000 non-null  object
 12  KODE_POS               10000 non-null  int64
 13  KM_PER_TAHUN           10000 non-null  float64
 14  JENIS_KENDARAAN        10000 non-null  object
 15  TILANG_NGEBUT          10000 non-null  int64
 16  TILANG_MABUK           10000 non-null  int64
 17  KECELAKAAN_SEBELUMNYA  10000 non-null  int64
 18  KLAIM                  10000 non-null  object
dtypes: float64(2), int64(6), object(11)
memory usage: 1.4+ MB

#Data Kategori Unik Setiap Kolom Data Kategori

In [42]:
for col in asuransi_mobil.select_dtypes(include=object):
  print(col, '\t', asuransi_mobil[col].unique())

UMUR 	 ['lebih dari 65 tahun' 'kurang dari 25 tahun' 'antara 25-40 tahun'
 'antara 40-65 tahun']
JENIS_KELAMIN 	 ['perempuan' 'laki-laki']
PENGALAMAN_MENGEMUDI 	 ['kurang dari 10 tahun' 'antara 10-20 tahun' 'antara 20-30 tahun'
 'lebih dari 30 tahun']
PENDIDIKAN 	 ['SMA' 'tidak ada' 'universitas']
PENGHASILAN 	 ['lebih dari 3x UMR' 'kurang dari UMR' 'antara 1-2x UMR' 'antara 2-3x UMR']
PEMILIK_KENDARAAN 	 ['ya' 'tidak']
TAHUN_PRODUKSI 	 ['setelah 2020' 'sebelum 2020']
STATUS 	 ['belum menikah' 'menikah']
ANAK 	 ['ada' 'tidak ada']
JENIS_KENDARAAN 	 ['keluarga' 'sport']
KLAIM 	 ['tidak' 'ya']

In [43]:
asuransi_mobil['UMUR'] = asuransi_mobil['UMUR'].map({'lebih dari 65 tahun':4, 'antara 40-65 tahun':3,'antara 25-40 tahun':2,'kurang dari 25 tahun':1})

In [44]:
asuransi_mobil['JENIS_KELAMIN'] = asuransi_mobil['JENIS_KELAMIN'].map({'perempuan':0, 'laki-laki':1})

In [45]:
asuransi_mobil['PENGALAMAN_MENGEMUDI'] = asuransi_mobil['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':1, 'antara 10-20 tahun':2, 'antara 20-30 tahun':3, 'lebih dari 30 tahun':4})

In [46]:
asuransi_mobil['PENDIDIKAN'] = asuransi_mobil['PENDIDIKAN'].map({'tidak ada':0, 'SMA':1, 'universitas':2})

In [47]:
asuransi_mobil['PENGHASILAN'] = asuransi_mobil['PENGHASILAN'].map({'lebih dari 3x UMR':4, 'kurang dari UMR':1, 'antara 1-2x UMR':2, 'antara 2-3x UMR':3})

In [48]:
asuransi_mobil['PEMILIK_KENDARAAN'] = asuransi_mobil['PEMILIK_KENDARAAN'].map({'ya':1, 'tidak':0})

In [49]:
asuransi_mobil['TAHUN_PRODUKSI'] = asuransi_mobil['TAHUN_PRODUKSI'].map({'setelah 2020':1, 'sebelum 2020':0})

In [50]:
asuransi_mobil['STATUS'] = asuransi_mobil['STATUS'].map({'belum menikah':0, 'menikah':1})

In [51]:
asuransi_mobil['ANAK'] = asuransi_mobil['ANAK'].map({'tidak ada':0, 'ada':1})

In [52]:
asuransi_mobil['KLAIM'] = asuransi_mobil['KLAIM'].map({'tidak':0, 'ya':1})

In [53]:
asuransi_mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10000 non-null  int64
 1   IDENTITAS              10000 non-null  int64
 2   UMUR                   10000 non-null  int64
 3   JENIS_KELAMIN          10000 non-null  int64
 4   PENGALAMAN_MENGEMUDI   10000 non-null  int64
 5   PENDIDIKAN             10000 non-null  int64
 6   PENGHASILAN            10000 non-null  int64
 7   SKOR_KREDIT            10000 non-null  float64
 8   PEMILIK_KENDARAAN      10000 non-null  int64
 9   TAHUN_PRODUKSI         10000 non-null  int64
 10  STATUS                 10000 non-null  int64
 11  ANAK                   10000 non-null  int64
 12  KODE_POS               10000 non-null  int64
 13  KM_PER_TAHUN           10000 non-null  float64
 14  JENIS_KENDARAAN        10000 non-null  object
 15  TILANG_NGEBUT          10000 non-null  int64
 16  TILANG_MABUK           10000 non-null  int64
 17  KECELAKAAN_SEBELUMNYA  10000 non-null  int64
 18  KLAIM                  10000 non-null  int64
dtypes: float64(2), int64(16), object(1)
memory usage: 1.4+ MB

In [56]:
asuransi_mobil = pd.get_dummies(asuransi_mobil)

In [57]:
asuransi_mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                10000 non-null  int64
 1   IDENTITAS                 10000 non-null  int64
 2   UMUR                      10000 non-null  int64
 3   JENIS_KELAMIN             10000 non-null  int64
 4   PENGALAMAN_MENGEMUDI      10000 non-null  int64
 5   PENDIDIKAN                10000 non-null  int64
 6   PENGHASILAN               10000 non-null  int64
 7   SKOR_KREDIT               10000 non-null  float64
 8   PEMILIK_KENDARAAN         10000 non-null  int64
 9   TAHUN_PRODUKSI            10000 non-null  int64
 10  STATUS                    10000 non-null  int64
 11  ANAK                      10000 non-null  int64
 12  KODE_POS                  10000 non-null  int64
 13  KM_PER_TAHUN              10000 non-null  float64
 14  TILANG_NGEBUT             10000 non-null  int64
 15  TILANG_MABUK              10000 non-null  int64
 16  KECELAKAAN_SEBELUMNYA     10000 non-null  int64
 17  KLAIM                     10000 non-null  int64
 18  JENIS_KENDARAAN_keluarga  10000 non-null  uint8
 19  JENIS_KENDARAAN_sport     10000 non-null  uint8
dtypes: float64(2), int64(16), uint8(2)
memory usage: 1.4 MB

#Data Train Test

In [58]:
X = asuransi_mobil.drop(['KLAIM'], axis =1) 
y = asuransi_mobil['KLAIM']

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

# Model Regresi Logistik

In [60]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression()
model_lr.fit(X_train,y_train)

LogisticRegression()

In [61]:
model_lr.score(X_test,y_test)

0.786

In [67]:
pd.DataFrame(model_lr.predict(X_test))

      0
0     0
1     1
2     1
3     1
4     0
...  ..
1995  0
1996  1
1997  1
1998  1
1999  0

[2000 rows x 1 columns]

#Model K-Nearest Neighbors (KNN)

In [64]:
from sklearn.neighbors import KNeighborsClassifier

model_knn = KNeighborsClassifier(n_neighbors=3)
model_knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [65]:
model_knn.score(X_test,y_test)

0.629

In [68]:
pd.DataFrame(model_knn.predict(X_test))

      0
0     0
1     1
2     1
3     0
4     0
...  ..
1995  0
1996  0
1997  1
1998  1
1999  0

[2000 rows x 1 columns]